<div class="row metas text-muted">
  <div class="col-md-6">
    <span class="authors">Ecrit par <%= (article.authors.sort_by(&:downcase).map {|author| "<a href=\"#{author_path(author)}\">#{author}</a>"}).join(', ') %></span>
    <span class="date-published">Publié le <time class="published" datetime="<%= article.date.xmlschema %>"><%= article.date.strftime_french('%e %B %Y') %></time></span>
  </div>
  <div class="col-md-6">
  <% if article.categories.size > 0 %>
    <span class="categories">Catégories :  
    <%= (article.categories.sort_by(&:downcase).map {|category| "<a href=\"#{category_path(category)}\">#{category}</a>"}).join(', ') %></span>
  <% end %>
  <% if article.tags.size > 0 %>
    <span class="tags">Tags :  
    <%= (article.tags.sort_by(&:downcase).map {|tag| "<a href=\"#{tag_path(tag)}\">#{tag}</a>"}).join(', ') %></span>
  <% end %>
  </div>
</div>
