---
pageable: true
per_page: 20
---
<h1>Tous les articles tagués '<%= tagname %>'</h1>

<ul class="post-list">
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %><span><%= article.date.strftime_french('%e %B %Y') %></span></li>
  <% end %>
</ul>

<% if paginate && num_pages > 1 %>
<div class="paginate">
  <div class="row">
    <div class="col-md-4">
    <% if prev_page %>
      <span><%= link_to 'Page précédente', prev_page, :class => 'pull-left' %></span>
    <% end %>
    </div>
    <div class="col-md-4">
      <p class="center">Page <%= page_number %> sur <%= num_pages %></p>
    </div>
  <% end %>

  <% if paginate %>
    <div class="col-md-4">
    <% if next_page %>
      <span><%= link_to 'Page suivante', next_page, :class => 'pull-right' %></span>
    <% end %>
    </div>
  <% end %>

<% if paginate && num_pages > 1 %>
  </div>
</div>
<% end %>
