---
pageable: true
---

<div class="search-results"></div>

<% page_articles.each_with_index do |article, i| %>
  <article class="article-inlist">
    <h1><%= link_to article.title, article %></h1>
    <%= partial "partials/post-metas", :locals => { :article => article } %>
    <hr />

    <%= article.summary %>
    <%= link_to 'Lire la suite...', article, :class => 'read-more pull-right' %>
  </article>

  <hr class="inlist-sep" />
<% end %>

<% if paginate && num_pages > 1 %>
<div class="paginate">
  <div class="row">
    <div class="col-md-4">
    <% if prev_page %>
      <span><%= link_to 'Page précédente', prev_page, :class => 'pull-left' %></span>
    <% end %>
    </div>
    <div class="col-md-4">
      <p class="center">Page <%= page_number %> sur <%= num_pages %></p>
    </div>
  <% end %>

  <% if paginate %>
    <div class="col-md-4">
    <% if next_page %>
      <span><%= link_to 'Page suivante', next_page, :class => 'pull-right' %></span>
    <% end %>
    </div>
  <% end %>

<% if paginate && num_pages > 1 %>
  </div>
</div>
<% end %>
